body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	background-image: linear-gradient(135deg, #E2BA60 0%, #69BFA1 100%);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: rgba(0,0,0,0.7);
	font-size: 15px;
	line-height: 1.4;
}

* {
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
}

main {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	font-size: 18px;
	font-weight: 600;
	color: #000;
	max-width: 270px;
	margin: 0 0 10px 0;
}

h1 a {
	color: #000;
	text-decoration: none;
}

h1:before {
	display: block;
	width: 73px;
	height: 48px;
	background: url(../images/app-logo.svg) no-repeat center;
	content: '';
	margin: 0 0 20px 0;
	cursor: pointer;
}

h1+p {
	margin: 0 0 20px 0;
}

footer p {
	text-align: center;
	margin: 10px 0;
	font-size: 12px;
	line-height: 16px;
}

footer a {
	font-weight: 600;
	text-decoration: none;
	color: rgba(0,0,0,0.8);
}

form p {
	margin: 0 0 10px 0;
	position: relative;
}

form .row {
	display: flex;
	margin-left: -5px;
	margin-right: -5px;
}

form .row * {
	flex: 1;
}

form .row p {
	margin-left: 5px;
	margin-right: 5px;
}

form p.valid:after {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 38px;
	height: 38px;
	background: #c6d3cd url(../images/icon-check.svg) no-repeat center;
	content: '';
	display: block;
	border-radius: 6px;
}

form p label {
	margin-bottom: 5px;
	display: inline-block;
}

form p input[type="text"],
form p select {
	background: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	width: 100%;
	padding: 14px;
	font-size: 16px;
	outline: none;
	margin: 0;
	appearance: none;
}

form p input.shake,
form p select.shake {
	animation: shake 0.2s ease-in-out 0s 2;
}

form p input[type="text"]::placeholder,
form p select::placeholder {
	color: rgba(0,0,0,0.7);
}

form p select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff url("data:image/svg+xml;utf8,<svg fill='rgba(0,0,0,0.7)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: 50%;
}

select[name="icon"] {
	padding-left: 44px;
}

span.select-icon {
	position: absolute;
	display: block;
	width: 24px;
	height: 24px;
	background: url(../images/app-logo.svg) no-repeat center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	margin: 13px 12px;
}

span.select-icon.country {
	margin-top: 12px;
	background-image: url(../images/hungary.png);
}

#qrCodeField.shake {
	animation: shake 0.2s ease-in-out 0s 2;
}

.qr-code-input {
	margin: 0 0 10px 0;
}

.qr-code-input div {
	background: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 5px 5px 14px;
}

.qr-code-input button {
	background: #c6d3cd url(../images/icon-camera.svg) no-repeat 10px center;
	padding: 9px 10px 9px 38px;
	color: #185037;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	border-radius: 6px;
	margin: 0;
	border: none;
}

.qr-code-input.valid button {
	background: #c6d3cd url(../images/icon-check.svg) no-repeat center;
	font-size: 0;
	width: 38px;
	height: 38px;
	padding: 0;
}

.qr-code-input small {
	text-align: center;
	display: block;
	padding: 10px 0 0 0;
}

.other-settings {
	padding: 15px 15px;
	display: block;
	font-size: 16px;
	color: rgba(0,0,0,0.8);
	position: relative;
	margin: 0 0 10px 0;
	text-align: left;
	width: 100%;
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

.other-settings:before {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	border-radius: 10px;
	mix-blend-mode: soft-light;
	content: '';
	opacity: 0.5;
	transition: all ease 0.3s;
}

.other-settings:after {
	width: 48px;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../images/icon-down.svg) no-repeat center;
	opacity: 0.6;
	content: '';
	position: absolute;
	transition: all ease 0.3s;
}

.other-settings.open:before {
	opacity: 1;
}

.other-settings.open:after {
	transform: rotate(-180deg);
}

.other-settings-fields {
	opacity: 0;
	max-height: 0px;
	overflow: hidden;
	transition: all ease 0.3s;
}

.other-settings.open + .other-settings-fields {
	max-height: 300px;
	opacity: 1;
}

p.submit {
	padding-top: 10px;
}

p.submit button {
	display: block;
	width: 100%;
	text-align: center;
	height: 56px;
	background: #185037;
	font-weight: 500;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 10px;
	font-size: 18px;
}

#popup-root .popup-content {
	width: 90vh;
	max-width: 90%;
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
	padding: 0;
	border: none;
	border-radius: 10px;
	overflow: hidden;
}

.popup-content small {
	text-align: center;
	display: block;
	padding: 15px;
}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

@keyframes shake {
  0% { transform: translateX(0rem); }
  25% { transform: translateX(0.5rem); }
  75% { transform: translateX(-0.5rem); }
  100% { transform: translateX(0rem); }
}
